Automat==25.4.16
Django==5.2.6
Incremental==24.11.0
PyJWT==2.10.1
Twisted==25.5.0
asgiref==3.9.1
attrs==25.4.0
autobahn==25.12.2
cbor2==5.8.0
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
colorama==0.4.6
constantly==23.10.4
cryptography==46.0.5
daphne==4.2.1
django-cors-headers==4.8.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
hyperlink==21.0.0
idna==3.11
msgpack==1.1.2
packaging==26.0
pillow==11.3.0
py-ubjson==0.16.1
pyOpenSSL==25.3.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
qrcode==8.2
redis==7.2.0
service-identity==24.2.0
shortuuid==1.0.13
sqlparse==0.5.3
txaio==25.12.2
typing_extensions==4.15.0
tzdata==2025.2
ujson==5.11.0
whitenoise==6.6.0
requests==2.32.3
zope.interface==8.2